@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --cor-primaria: #181C3E;
    --cor-secundaria: #B8BDD8;
    --cor-terciaria: #EEF0F6;
    --cor-quaternaria: #C9A227;
    --cor-quintaria: #3E3E3E;

    --fonte-primaria: "Poppins", sans-serif;
    
    --font-h1: clamp(1.5rem, 2.5vw, 2.5rem);    /* 32px - 40px */
    --font-h2: clamp(1.375rem, 2vw, 2.125rem); /* 30px - 34px */
    --font-h3: clamp(1.125rem, 1.75vw, 1.75rem); /* 24px - 28px */
    --font-h4: clamp(1rem, 1.5vw, 1.5rem);  /* 22px - 24px */
    --font-h5: clamp(0.875rem, 1.375vw, 1.125rem);  /* 16px - 18px */
    --font-p: clamp(0.8125rem, 1.125vw, 1rem);    /* 15px - 16px */
    --font-small: clamp(0.625rem, 1vw, 0.875rem); /* 13px - 14px */    
      
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }  

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

main{
    display: flex; /* exibe os itens na horizontal */
    flex-direction: column;
    justify-content: center; /* centraliza os itens horizontalmente */
    align-items: center; /* centraliza os itens verticalmente */
    padding: 0; /* espaçamento do main */
    margin: 0; /* espaçamento do main */
}

header{
    display: flex; /* exibe os itens na horizontal */
    justify-content: space-between; /* espaçamento entre os itens */
    background-color:rgba(19, 21, 54, 0.9);/* #131536 com 90% opacidade */
    backdrop-filter: blur(10px);/* desfoca o fundo do header */
    -webkit-backdrop-filter: blur(10px);/* desfoca o fundo do header */
    z-index: 1000;/* garante que o header fique acima de outros elementos */
    position: fixed;
    top:0;
    width: 100%;
    /* padding: clamp(0.5rem, 0.5vh, 0.5rem) 0; Altura adaptável com padding */
}

header .container{
    max-width: 1500px; /* largura máxima do container */
    margin: 0 auto;
    display: flex; 
    padding: 0; /*clamp(0.5rem, 1vw, 1rem); espaçamento do header  */
    gap: clamp(1.5rem, 2.5vw, 4.125rem); /* mínimo 1rem, ideal adaptável, máximo 3rem */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--cor-secundaria);
    width: clamp(80px, 8vw, 120px); /* largura responsiva da logo */
    height: auto; 
}

.menu ul{
    list-style: none; /* remove bolinhas da lista */
    margin: 0;
    padding: 0;
    display: flex; /* deixa os itens na horizontal */
    gap: clamp(0.5rem, 3vw, 3.125rem); /* espaçamento entre os itens */
    align-items: center; /* alinha no centro vertical */  
}

.menu ul li a{
    text-decoration: none; /* remove o sublinhado do link */
    color: var(--cor-secundaria); /* cor do texto */
    font-size: var(--font-h4);/* clamp(1rem, 1.5vw, 2rem) */ /* entre 14px e 24px */
    font-weight: 400; /* peso da fonte */
    transition: color 0.3s ease; /* animação suave na mudança de cor */
}
.menu ul li a:hover{
    color: var(--cor-quaternaria); /* cor do texto ao passar o mouse */
}

#menu-toggle {
    display: none;
    font-size: 1.375rem;
    background: none;
    border: none;
    color: var(--cor-secundaria);
    cursor: pointer;
}

.botao-orcamento{
    background-color: var(--cor-quaternaria);
    color: var(--cor-primaria);
    padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1.5rem, 2vw, 2.5rem); /* padding vertical e horizontal adaptável */
    border-radius: clamp(6px, 1vw, 12px); /* canto arredondado adaptável */
    text-decoration: none; /* remove o sublinhado do link */
    font-size: var(--font-h5);
    /* font-size: clamp(1rem, 1.5vw, 2rem); */ /* fonte responsiva */
    font-weight: 700; /* peso da fonte */
    transition: background-color 0.3s ease; /* animação suave na mudança de cor */
    white-space: nowrap; /* evita quebrar o texto em duas linhas */
}

.cta{
    position: relative; /* posição relativa para o efeito de sombra */
    width: 100%; /* largura total do container */
    height: 100vh; /* altura total do container */
    overflow: hidden; /* esconde o que ultrapassa o container */   
}

.cta-bg {
    max-width: clamp(21.87rem, 100vw, 93.75rem); /* largura máxima do container */
    position: absolute;
    align-content: center;
    left: 50%;
    transform: translateX(-50%); /* centraliza o container */   
    width: 100%;
    height: 100%;
    background-image: url('../img/cta-Bg-mobile1.jpg');/* imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Conteúdo centralizado sobre a imagem */
.cta-conteudo {
    position: relative; /* posição relativa para centralizar sobre a imagem */
    z-index: 2; /* garante que o conteúdo fique acima da imagem */
    top: 50%; /* 50% do topo do container */
    left: 50%; /* 50% da esquerda do container */
    transform: translate(-50%, -50%); /* centraliza o conteúdo */
    width: 75%; /* largura do conteúdo */
    text-align: center; /* centraliza o texto */
    color: var(--cor-terciaria); /* cor do texto */
    padding: 2rem; /* espaçamento interno */
    gap: 1rem; /* espaçamento entre os itens */
    display: flex; /* exibe os itens na vertical */
    flex-direction: column; /* exibe os itens na vertical */
    justify-content: center; /* centraliza os itens verticalmente */
}

.cta-titulo{
    font-size: var(--font-h1);/* clamp(1rem, 2vw, 3.3440rem) */ /* tamanho da fonte responsivo */
    font-weight: 700; /* peso da fonte */
    text-shadow: 0 0 10px rgba(0, 0, 0, 10.5); /* sombra do texto */
}

.cta-subtitulo{
    font-size: var(--font-h3); /* clamp(1rem, 1.5vw, 2rem) */ /* tamanho da fonte responsivo */
    font-weight: 400; /* peso da fonte */
    text-shadow: 0 0 10px rgba(0, 0, 0, 5.5); /* sombra do texto */
}

.botao-orcamento-1{
    display: inline-flex; /* exibe como bloco para o espaçamento */
    justify-content: center; /* centraliza o botão */ 
    align-items: center; /* centraliza o botão verticalmente */
    /* width: 35%; */ /* largura do botão */
    margin: 0 auto; /* centraliza o botão */
    padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1.5rem, 2vw, 2.5rem); /* padding vertical e horizontal adaptável */
    background-color: var(--cor-quaternaria);
    color: var(--cor-primaria);
    border-radius: clamp(6px, 1vw, 12px); /* canto arredondado adaptável */
    text-decoration: none; /* remove o sublinhado do link */
    font-size: var(--font-h3);/* clamp(1rem, 2vw, 2rem) */ /* fonte responsiva */
    font-weight: 700; /* peso da fonte */
    transition: background-color 0.3s ease; /* animação suave na mudança de cor */
    white-space: nowrap; /* evita quebrar o texto em duas linhas */
}

#sobre {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* gap: 2rem; espaçamento entre os itens */
    padding: clamp(1rem, 1.5vw, 2rem); /*espaçamento do container */
    flex-wrap: wrap; /* permite que os itens se movam para a próxima linha em telas menores */
    max-width: 1500px;
    margin: 0% auto; /* centraliza o container */
}
  
  .sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: clamp(0.5rem, 2vw, 2.5rem);    
}
  
  .sobre-imagem{
    width: 100%; /* largura total do container */
    max-width: clamp(18.75rem, 50vw, 46.875rem); /* largura máxima da imagem */
    height: auto; /* altura automática para manter a proporção */
    flex: 0 1 55%; /* base proporcional à largura original */
    object-fit: cover; /* cobre o espaço disponível */
  }
  
  .sobre-texto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: clamp(0.5rem, 1vw, 1.5rem); /* espaçamento entre os itens */
    flex: 0 1 45%; /* base proporcional à largura original */
    max-width: clamp(18.75rem, 50vw, 34.375rem); /* largura máxima do container */
  }   
   
  .sobre-titulo {
    color: var(--cor-quaternaria);
    text-shadow: 0 0 10px rgba(0, 0, 0, 10.5); /* sombra do texto */
    font-weight: 700; /* peso da fonte */
  }

  .sobre-texto {
    font-size: var(--font-p);/* clamp(0.75rem, 1.35vw, 1.75rem); */ /* tamanho da fonte responsivo */
    font-weight: 400; /* peso da fonte */
    color: var(--cor-terciaria);
  }

  #servicos{
    background-color: var(--cor-terciaria);
    padding: clamp(1rem, 1.5vw, 2rem); /*espaçamento do container */    
  }

  .servicos-container{
    display: flex;
    flex-wrap: nowrap; /* permite que os itens se movam para a próxima linha em telas menores */
    justify-content: center; 
    gap: clamp(0.5rem, 1vw, 2rem);
    padding: clamp(0.75rem, 1vw, 2rem); 
  }

  .servicos-tituloh1{
    text-align: center;
    color: var(--cor-primaria);
    font-size: var(--font-h1);
    font-weight: 700;
  }

  .servicos-subtitulo{
    text-align: center;
    color: var(--cor-quintaria);
    font-size: var(--font-h5);
    font-weight: 400;
  }

  .servicos-card{
    width: 100%;
    max-width: 325px; /* largura máxima do card */
    background-color: transparent;
    overflow: hidden; /* esconde o que ultrapassa o container */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* sombra puxando pra baixo e direita */    
  }

  .servicos-card img{
    width: 100%; /* largura total do container */
    height: auto; /* altura automática para manter a proporção */
    display: block; /* remove o espaço em branco abaixo da imagem */
  }

  .servicos-conteudo{
    background-color: var(--cor-terciaria);
    padding: 0.75rem;
    text-align: center;
    color: var(--cor-quintaria);    
  }

    .servicos-titulo{
        font-size: var(--font-h5); 
        font-weight: 700; /* peso da fonte */
    }
  
  .servicos-texto{
    font-size: var(--font-small);
    font-weight: 400;
    padding: clamp(0.5rem, 1vw, 1.5rem);  
    padding: clamp(0.25rem, 0.5vw, 1rem); 
  }
  
 
@media (max-width: 768px) {
    
    #menu-toggle {
        display: block;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        background-color: rgba(19, 21, 54, 0.95);
        padding: 0.5rem;
        position: absolute;
        top: 100%; /* aparece abaixo do header */
        right: 2%; /* alinha à direita */
        min-width: 130px;
        z-index: 999;
    }

    .menu ul.aberto {
        display: flex;
    }

        
    .botao-orcamento-1{
        width: 50%; /* largura do conteúdo */        
    }
    
     .cta-bg {
        /* background-size: contain; */ /* ajusta a imagem de fundo para caber no container */
        object-fit: cover; /* cobre o espaço disponível */
        background-repeat: no-repeat;  /* não repete a imagem de fundo  */
        background-position: center center; /* centraliza a imagem de fundo */
    }
    .cta-conteudo {
        width: 100%; /* largura do conteúdo */
    }
      
    .sobre-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        gap: clamp(0.5rem, 1vw, 2.5rem);
        padding: 1rem; /* espaçamento do container */
    }
    
    .servicos-container{
        display: flex;
        flex-wrap: wrap; /* permite que os itens se movam para a próxima linha em telas menores */     
    }

    .servicos-texto{
        font-size: var(--font-small);
    }
  
}